@page "/adminmanageusers"
@rendermode InteractiveServer
@inject NavigationManager Nav
<PageTitle>AdminManageUsers</PageTitle>

<h3>Admin Manage Users</h3>

<p>This is the selection for creating a user and inserting it into the database. Choose a user type below!</p>
<select @bind="myModel.CreateValue">
    <option value="">-- Select an option --</option>
    <option value="admin">Admin</option>
    <option value="professor">Professor</option>
    <option value="student">Student</option>
</select>
<button @onclick="HandleCreation">Create</button>
<!--
<p>This is the selection for deleting a user!</p>
<p>We need information to search the database for. Specify the type of information and </p>
<select @bind="myModel.DeleteValue">
    <option value="">-- Select an option --</option>
    <option value="email">Email</option>
</select>
<InputText @bind-Value="myModel.DeleteInput" placeholder="Enumber" />
<button onclick="() => HandleDeletion(myModel.DeleteValue)">Delete</button>
-->
@code {
    private ManageUsers manageUsers; 
    private MyDataModel myModel = new MyDataModel();

    public class MyDataModel
    {

        public string CreateValue { get; set; }
        public string DeleteValue { get; set; }
        public string DeleteInput { get; set; }

        public MyDataModel()
        {
            CreateValue = "";
            DeleteValue = "";
            DeleteInput = "";
        }
    }

    protected override void OnInitialized()
    {
        // Pass the injected NavigationManager into your class
        manageUsers = new ManageUsers(Nav);
    }

    public void HandleCreation()
    {
        if(myModel.CreateValue != "")
            manageUsers.AddUser(myModel.CreateValue);
    }

    public void HandleDeletion(string type)
    {
        if(myModel.CreateValue != "")
            switch (type)
            {
                case "email":
                    //manageUsers.SearchByEmail(myModel.DeleteInput);
                    break;
            }
    }

}
