@page "/adminmanageusers"
@rendermode InteractiveServer
@inject NavigationManager Nav
<PageTitle>AdminManageUsers</PageTitle>

<h3>Admin Manage Users</h3>

<p>This is a page dedicated to allowing the admins to add and remove users/monitor user activity</p>
<p>@myModel.SelectedValue</p>


<select @bind="myModel.SelectedValue">
    <option value="">-- Select an option --</option>
    <option value="admin">Admin</option>
    <option value="professor">Professor</option>
    <option value="student">Student</option>
</select>
<button @onclick="HandleButtonClick">Submit</button>

@code {
    private ManageUsers manageUsers; 
    private MyDataModel myModel = new MyDataModel();

    public class MyDataModel
    {

        public string SelectedValue { get; set; }

        public MyDataModel()
        {
            SelectedValue = "";
        }
    }

    protected override void OnInitialized()
    {
        // Pass the injected NavigationManager into your class
        manageUsers = new ManageUsers(Nav);
    }

    public void HandleButtonClick()
    {
        manageUsers.AddUser(myModel.SelectedValue);
    }

    
    
}
