@page "/adminmanageusers"
@rendermode InteractiveServer
@inject NavigationManager Nav
<PageTitle>AdminManageUsers</PageTitle>

<h3>Admin Manage Users</h3>

<p>This is the selection for creating a user and inserting it into the database. Choose a user type below!</p>
<select @bind="myModel.CreateValue">
    <option value="">-- Select an option --</option>
    <option value="admin">Admin</option>
    <option value="professor">Professor</option>
    <option value="student">Student</option>
</select>
<button @onclick="HandleCreation">Create</button>

<p>This is the selection for deleting a user! We need information to search the database for. What type of user are you looking for?</p>
<select @bind="myModel.DeleteType">
    <option value="">-- Select an option --</option>
    <option value="admin">Admin</option>
    <option value="professor">Professor</option>
    <option value="student">Student</option>
    <option value="unsure">Unsure</option>
</select>
<p>Fill in what information you can in this section to search the database...</p>
<EditForm Model="@myModel">
    <InputText @bind-Value="myModel.FirstName" placeholder="First Name" />
    <InputText @bind-Value="myModel.LastName" placeholder="Last Name" />
    <InputText @bind-Value="myModel.Enumber" placeholder="Enumber" />
    <InputText @bind-Value="myModel.Email" placeholder="Email Address" />
</EditForm>
<InputText @bind-Value="myModel.DeleteInput" placeholder="Enumber" />
<button onclick="() => HandleDeletion(myModel.DeleteValue)">Delete</button>
@code {
    private ManageUsers manageUsers; 
    private MyDataModel myModel = new MyDataModel();
    private List<UserJson> users;

    public class MyDataModel
    {

        public string CreateValue { get; set; }
        public string DeleteType { get; set; }
        public string DeleteInput { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Enumber { get; set; }
        public string Email { get; set; }

        public MyDataModel()
        {
            CreateValue = "";
            DeleteType = "";
            DeleteInput = "";
            FirstName = "";
            LastName = "";
            Enumber = "";
            Email = "";
        }
    }

    protected override void OnInitialized()
    {
        // Pass the injected NavigationManager into your class
        manageUsers = new ManageUsers(Nav);
    }

    public void HandleCreation()
    {
        if(myModel.CreateValue != "")
            manageUsers.AddUser(myModel.CreateValue);
    }

    public void HandleDeletion(string type)
    {
        if(myModel.CreateValue != "")
            switch (type)
            {
                case "admin":
                    //users = manageUsers.FindAdmin(myModel.FirstName, myModel.LastName, myModel.Email);
                    break;
            }
    }

}
