@page "/admin"
@rendermode InteractiveServer

<PageTitle>Admin</PageTitle>

<h1>Admin Page lol</h1>

username
<div>
    <InputText @bind-Value="username" />
</div>

password
<div>
    <InputText @bind-Value="password"/>
</div>

<button class="btn btn-primary" @onclick="CreateUser">Create User</button>

@code {
    private string username = "";
    private string password = "";

    private void CreateUser()
    {
    }
}
