@page "/admin"
@rendermode InteractiveServer

<PageTitle>Admin</PageTitle>

<h1>Admin Page lol</h1>

<!--TEMP-->

Admin Username
<div>
    <InputText @bind-Value="adminInputUsername"/>
</div>

Admin Password
<div>
    <InputText @bind-Value="adminInputPassword"/>
</div>

<div>
    <button class="btn btn-primary" @onclick="AdminLogIn">Admin Log In</button>
</div>

@code
{
    private string adminUsername = "admin";
    private string adminPassword = "loel";

    private string adminInputUsername = "";
    private string adminInputPassword = "";

    private bool adminLoggedIn = false;

    private void AdminLogIn()
    {
        if (adminInputUsername == adminUsername && adminInputPassword == adminPassword)
        {
            adminLoggedIn = true;
        }
    }
}

<!--TEMP-->
@if(adminLoggedIn)
{
    <span>
        username
        <div>
            <InputText @bind-Value="username" />
        </div>

        password
        <div>
            <InputText @bind-Value="password" />
        </div>

        <button class="btn btn-primary" @onclick="CreateUser">Create User</button>
    </span>
}

@code {
    private string username = "";
    private string password = "";

    private void CreateUser()
    {
    }
}
