@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Welcome to ETSU Nursing College's Tracking Application</h1>

<div>
    <p>If you are a student/instructor, please log in to your profile</p>
    <br />
</div>
<div class="align-content-center">
<img src="/ETSU-outside.jpg" alt="Photo of ETSU library"/>
</div>


@code{
}