@page "/InstructorView"
@rendermode InteractiveServer


<table class="table-bordered">
    <thead>Viewing Student Hours</thead>
        <tr>
            <th>ENumber</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hours Worked</th>
        </tr>
</table>
