@page "/InstructorView"
@rendermode InteractiveServer


<h1>Viewing Student Hours</h1>

<!--working on this currently
    

<input type="text" placeholder="Search by name" @bind="" class="form-control mb-2" />


-->
