@page "/loginpage"
@rendermode InteractiveServer
@using Student_Tracker_Blazor
@inject Login loginHandler;


<div class="container mt-5">
    <h2>LOGIN</h2>

    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-md-6" >
                <label>Email</label>
                <InputText @bind-Value="loginModel.email" placeholder="Enter your email" />
            </div>

            <div class="col-md-6">
                <label>Password</label>
                <InputText @bind-Value="loginModel.password" type="password" placeholder="Enter your password" />
            </div>
        </div>

        <button type="submit">LOGIN</button>

        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert" alert-success mt-3>
                @message
            </div>
        }
    </EditForm>
</div>

@code {
    private LoginModel loginModel = new();
    //private Login loginHandler = new();
    private string? message;

    private async Task HandleLogin()
    {
        UserJson? currentUser = await APIServices.LoginUserAsync(loginModel.email, loginModel.password);

        if (currentUser == null)
        {
            message = "Error: incorrect login! Please try again.";

            StateHasChanged();

            await Task.Delay(5000);

            message = null;
            StateHasChanged();

            //reset form
            loginModel = new();
        }
        else
        {
            message = $"Welcome, {currentUser.firstName}!";

            loginHandler.LogInUser(currentUser);

            StateHasChanged();

            await Task.Delay(5000);

            message = null;
            StateHasChanged();

            Console.WriteLine(loginHandler.currentUser);

            //reset form
            loginModel = new();
        }
    }

    public class LoginModel
    {
        public string email { get; set; } = string.Empty;
        public string password { get; set; } = string.Empty;
    }
}
