@page "/LogInPage"
@rendermode InteractiveServer


<h3>LogInPage</h3>

<button class="btn btn-primary" @onclick="Loel">Loel</button>

@code {
    public async void Loel()
    {
        await APIServices.GetUsersAsync();
    }
}
