@page "/viewstudentrecords"
@rendermode InteractiveServer
@using Student_Tracker_Blazor
@using System.Linq
@inject HttpClient Http

<h1>Viewing Student Records</h1>


<table class="table-bordered">
    <thead>Viewing Student Hours</thead>
    <tr>
        <th>ENumber</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hours Worked</th>
    </tr>
    <tbody>
        @foreach (var record in records)
        {
            <tr>
                
                <td>@record.Enumber</td>
                <td>@record.FirstName</td>
                <td>@record.LastName</td>
                <td>@record.HoursWorked</td>
                
            </tr>
        }
    </tbody>
</table>


@code {
    private List<StudentJson> students = new();
    private List<UserJson> users = new();
    //combined list
    private List<StudentRecords> records = new();


    protected override async Task OnInitializedAsync()
    {
        students = await APIServices.GetStudentsAsync();
        var allHours = await APIServices.GetHoursLoggedAsync();
            


        foreach (var student in students)
        {

            var user = await APIServices.GetUserAsync(student.userId);
            
            var studentHours = allHours.Where(h => h.studentId == student.studentId);

            int total = studentHours.Select(h => int.TryParse(h.hours, out var parsed) ? parsed : 0).Sum();

            records.Add(new StudentRecords 
                {
                    Enumber = student.enumber,
                    FirstName = user.firstName,
                    LastName = user.lastName,
                    HoursWorked = total
                });

            }
        }    
        

        private class StudentRecords
        {
            public string Enumber { get; set; }
            public string FirstName { get; set; }
            public string LastName { get; set; }
            public int HoursWorked { get; set; }
        }
    }

}