<div class="navbar navbar-expand-md navbar-dark bg-dark">
    <nav class="horizontal-nav w-100">
        <a class="navbar-brand mx-auto" href="">Student Tracker Blazor</a>

        <ul class="nav justify-content-center w-100">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="loginpage">Log In/Out</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="loghours">Log Hours</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="adminmanagedatabase">Admin Manage Database</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="adminmanageusers">Admin Manage Users</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="messaging">Messaging</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="viewstudentrecords">View Student Records</NavLink>
            </li>
        </ul>
    </nav>
</div>


