<div class="navbar navbar-expand-md navbar-dark bg-dark">
    <nav class="horizontal-nav">
        <a class="navbar-brand" href="">Student Tracker Blazor</a>


<!--unnecessary? not sure what this is for-->
<!--<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
-->
        <ul class="nav-item px-3">
            <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink></li>
            <li><NavLink class="nav-link" href="loginpage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Log In/Out
            </NavLink></li>
            <li><NavLink class="nav-link" href="loghours">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Log Hours
            </NavLink></li>
            <li><NavLink class="nav-link" href="adminmanagedatabase">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Manage Database
            </NavLink></li>
            <li><NavLink class="nav-link" href="adminmanageusers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Manage Users
            </NavLink></li>
            <li><NavLink class="nav-link" href="messaging">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Messaging
            </NavLink></li>
            <li><NavLink class="nav-link" href="viewstudentrecords">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> View Student Records
            </NavLink></li>
        </ul>
    </nav>
</div>

